body {
    font-family: 'Mali', cursive;
    background-color: rgba(202,198,199,255);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.box {
    width: 60%;
    background-color: white;
    margin: auto;
}

img {
    width: 95%;
    display: block;
    margin: auto;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.contents {
    width: 52%;
    margin-left: 29rem;
}